.bg-wall {
  background: url(https://cdn.shopify.com/s/files/1/0434/2431/7599/files/img-4.jpg?v=1595580873);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 83vh;
}
