.nav_bg {
  background: rgb(97, 84, 84);
}
.hover {
  font-size: 25px;
  /* color: rgb(25 135 84); */
}
.cent {
  display: flex;
  justify-content: center;
  align-items: center;
}

#nav_text:hover {
  background-color: rgb(25 135 84);
}
