.dashboard {
  display: flex;

  /* justify-content: center; */
}
.add_nav {
  /* position: fixed; */
  flex: 0.2;
  background-color: gray;

  border: 3px solid green;
  width: 15%;
  /* height: 100v; */
}
.add_nav > .link {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
}
.link {
  font-size: 25px;
  margin-left: 10px;
  text-decoration: none;
  color: #fff;
}
.disply-view {
  width: 75%;
  flex: 0.8;
}
